@import 'material-icons/iconfont/filled.css';

@font-face {
  src: url("./fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
  font-family: "Inter";
  font-weight: 100 200 300 400 500 600 700 800 900;
}

:root {
  --gray-50: #f6f6f6;
  --gray-100: #e7e7e7;
  --gray-200: #d1d1d1;
  --gray-300: #b0b0b0;
  --gray-400: #888888;
  --gray-500: #6d6d6d;
  --gray-600: #5d5d5d;
  --gray-700: #4f4f4f;
  --gray-800: #454545;
  --gray-900: #3d3d3d;
  --gray-950: #222222;

  --primary-50: #edfcf3;
  --primary-100: #d4f7e1;
  --primary-200: #adedc8;
  --primary-300: #78dda8;
  --primary-400: #3bc481;
  --primary-500: #1eab6a;
  --primary-600: #118a55;
  --primary-700: #0e6e47;
  --primary-800: #0d583a;
  --primary-900: #0c4831;
  --primary-950: #05291c;
}

/* bases */
html, body {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-weight: 500;
  color: var(--gray-200);
  scroll-behavior: smooth;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: var(--gray-400);
  transition: 150ms color;
  text-decoration: none;

  &:hover {
    color: var(--gray-200);
  }
}

::-webkit-scrollbar {
  width: 0.625rem;
  background-color: var(--gray-900);
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray-600);
}

/* classes and ids */
.hideFromRight {
  transform: translateX(150px);
  opacity: 0;
  transition: 0.3s transform cubic-bezier(0.4, 0, 0.2, 1), 0.3s opacity cubic-bezier(0.4, 0, 0.2, 1);

  &.show {
    transform: translateX(0);
    opacity: 1;
  }
}

#app {
  overflow-x: clip;
}